nav {
    background-color: #2c3e50;
    padding: 1rem 0;
    font-family: sans-serif;
}

.nav__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #ecf0f1;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav__links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.nav__links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ecf0f1;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav__links a:hover::after {
    width: 100%;
}

.nav__links a:hover {
    color: #f39c12;
}